# Backend
.env
*.env
backend/.env
backend/*/.env

# Python
__pycache__/
*.pyc

# Frontend
frontend/vue3/.env
frontend/vue3/.env.*
!frontend/vue3/.env.example
frontend/vue3/node_modules/
frontend/vue3/dist/

# Media
backend/media/